// BODY
body {
  background-image: url('../img/crossword.png');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
 
// HEADER (NAVBAR)

.curr-user-name {
  display: inline-block;
  width: auto;
  color: purple;
}
.curr-user-photo {
  padding: 11px;
  overflow: auto;
}
.curr-user-photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
 
// MAIN
main {
  flex: 1 0 auto;
}
.container {
  margin: 2% auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
.chatbox {

}
.chat-history {  

}
.chat-message {
}
.chat-message-body {
}
.chat-message-timestamp {
  float: right;
}

.lang-select {
  text-align: left;
}
.lang-select-option {
  text-align: left;
}

.chat-input {
  width: 500px;
}
.chat-submit {

}


.modal {
  position: absolute;
  top: 10%;
}
.modal-content{
  height: 200px;
}
.modal button {
  opacity: 0.8;
  color: purple;
}
.modal-footer {
  border: none;
}
