body {
  background-image: url('../img/crossword.png');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*navbar*/
.nav-wrapper {
}
.curr-user-name {
  display: inline-block;
  width: auto;
  color: purple;
}
.curr-user-photo {
  padding: 11px;
  overflow: auto;
}
.curr-user-photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.curr-user-status {
}
 
/*main*/
main {
  flex: 1 0 auto;
}
.container {
  margin: 2% auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/*users list*/
.chat-user {
  color: #ff6f00 !important;
}

/*language dropdown*/
.lang-select {
  text-align: left;
}
.lang-option.active {
  text-align: left;
  color: #ffc107 !important;
}
.lang-select ul li span {
  color: #ffc107 !important;
}

/*chat containers/sections*/
.chatbox {
}
.chat-history {  
}
.chat-message {
}
.chat-message-body {
}
.chat-message-timestamp {
  float: right;
}

.message-field {
  margin: 0 !important;
}
.chat-input {
  width: 500px;
}

.chat-input:focus {

}
.chat-submit {
}

.message-field label {
 color: #000;
}
/* label focus color */
.chat-input:focus + label {
 color: #ffc107 !important;
}
/* label underline focus color */
.chat-input:focus {
 border-bottom: 1px solid #ffc107 !important;
 box-shadow: 0 1px 0 0 #ffc107 !important;
}
/* valid color */
.chat-input.valid {
 border-bottom: 1px solid #ffc107 !important;
 box-shadow: 0 1px 0 0 #ffc107 !important;
}
/* invalid color */
.chat-input.invalid {
 border-bottom: 1px solid !important;
 box-shadow: 0 1px 0 0 !important;
}
.input-field .prefix.active {
  color: #ffc107;
}

/*sign-in modal*/
.modal {
  position: absolute;
  top: 10%;
}
.modal-content{
  height: 200px;
}
.modal button {
  opacity: 0.8;
  color: purple;
}
.modal-footer {
  border: none;
}

/*footer*/
.brand-img {
  padding: 20px;
  border-radius: 20px;
}
.footer-links {
  padding: 20px !important;
  border-radius: 20px;
}
