:root{
  --bright-color: #ef5350;
  --grey-color: #424242;
  --main-color: #4A148C;
  --light-color: #e1bee7;

}

body {
  background-image: url('../img/paper.png');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*navbar*/
nav a {
  font-weight: 200;
}
nav .brand-logo {
  margin:5px;
  height: 90%; /*so logo set to 100% shrinks down to nav size*/
  width: auto;
}
nav .brand-logo img{
  height: 100%;
  width: auto;
  /*margin: 20px;*/ /*so it floats halfway between nav and page*/
}
.sign-out {
  font-weight: 400;
}
.curr-user-name {
  display: inline-block;
  width: auto;
}
.curr-user-photo {
  padding: 11px;
  overflow: auto;
}
.curr-user-photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.curr-user-status {
}
 
/*main*/
main {
  flex: 1 0 auto;
  margin-top: 60px;
}
main h5{
  font-weight: 300;
  color: var(--bright-color) !important;
}
.container {
  margin: 2% auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/*users list*/
.chat-user {
  color: var(--main-color) !important;
}

.chat-user.active {
  background: var(--main-color) !important;
  color: white !important;
  background: ;
}

/*language dropdown*/
.lang-select {
  text-align: left;
}
.lang-option.active {
  text-align: left;
  color: var(--bright-color);
}
.lang-select ul li span {
  color: var(--bright-color);
}

/*chat containers/sections*/
.chatbox {
}
.chat-history {  
}
.chat-message {
}
.chat-message-body {
}
.chat-message-timestamp {
  float: right;
}

.message-field {
  margin: 0 !important;
}
.chat-input {
  width: 500px;
}

.chat-input:focus {

}
.chat-submit {
}

.message-field label {
 color: #000;
}
/* label focus color */
.chat-input:focus + label {
 color: var(--bright-color);
}
/* label underline focus color */
.chat-input:focus {
 border-bottom: 1px solid var(--bright-color);
 box-shadow: 0 1px 0 0 var(--bright-color);
}
/* valid color */
.chat-input.valid {
 border-bottom: 1px solid var(--bright-color);
 box-shadow: 0 1px 0 0 var(--bright-color);
}
/* invalid color */
.chat-input.invalid {
 border-bottom: 1px solid !important;
 box-shadow: 0 1px 0 0 !important;
}
.input-field .prefix.active {
  color: #ffc107;
}

/*sign-in modal*/
.modal {
  position: absolute;
  top: 10%;
}
.modal-content{
  height: 200px;
  font-weight: 300;
}
.modal-content p{
  font-size: large;
}
.modal-action {
  font-size: large;
}
.modal-footer {
  border: none;
}

/*footer*/
.brand-img {
  padding: 20px;
  border-radius: 20px;
}
.footer-links {
  padding: 20px !important;
  border-radius: 20px;
}
